.botoncitos{
    width:4rem;
    height:4rem;
    cursor:pointer
}
.arte{
    
    /* width:%; */
    /* justify-content: center; */
    /* display:grid; */
    /* grid-template-columns: 19rem 27rem 20rem; */
    /* grid-template-rows:21rem 16rem */
}