.contenedor{
    justify-content: center;
    display:grid;
    grid-template-columns: 19rem 27rem auto;
    grid-template-rows:21rem 20rem
}
.contenedor-item2{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:1;
    grid-row-end:1;
}
.contenedor-item3{
    grid-column-start:1 ;
    grid-column-end:1 ;
    grid-row-start:2;
    grid-row-end:2;
}
.contenedor-item4{
    grid-column-start:2 ;
    grid-column-end:2 ;
    grid-row-start:2;
    grid-row-end:2;
}
.contenedor-item5{
    grid-column-start:3 ;
    grid-column-end:3 ;
    grid-row-start:2;
    grid-row-end:2;
}


@media (max-width:500px) {
    .contenedor{
        display:flex;
        flex-direction: column;
  }

}
