.Habilidades{
    padding:1rem;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    width:20rem;
    height:13rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 2%;  
    margin:1rem; 
}
.Habilidades b{
    text-align: center;
    font-size: 15px;
    color:rgb(231, 227, 227);
    width:100%;
}

.Habilidades-Prog{
width:100%;
}

@media (max-width:500px) {
    .Habilidades{
        padding:0px ;
        width:80%;
        padding:1rem;
        margin:1.8rem;
    }
}