.Habilidades{
    padding:10px;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    width:24rem;
    height:17rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 2%;  
    margin:10px; 
}
.Habilidades b{
    text-align: center;
    font-size: 15px;
    color:rgb(231, 227, 227);
    width:100%;
}

.Habilidades-Prog{
width:100%;
}

@media (max-width:500px) {
    .Habilidades{
        width:auto
    }
}